{% extends "base.html" %}
{% block title %}Python {{ major }} Readiness - Python {{ major }} support table for most popular Python packages{% endblock %}
{% block content %}
<div class="row">
  <div class="col-sm-12 col-md-12">
    <h1>Python {{ major }} Readiness</h1>
    <p class="text-center">Python {{ major }} support graph for the {{ results|length }} most popular Python packages!</p>
    <h2>What is this about?</h2>
    <p>
    Python {{ major }} is <a href="https://devguide.python.org/devcycle/#end-of-life-branches">
        {% if status.eol %}
            a version of Python that is past its End Of Life
        {% elif status.dying %}
            a version of Python that is nearing its End Of Life
        {% else %}
            a currently supported version of Python
        {% endif -%}
    </a>. This site shows Python {{ major }} support for the {{ results|length }} most downloaded packages on <a href="https://pypi.org/">PyPI</a>:
    </p>
    <ol>
      {%- set no_support = results|length - do_support -%}
      {%- set do_support_percent = (do_support / results|length * 100)|round(1) -%}
      {%- set no_support_percent = (no_support / results|length * 100)|round(1) -%}
      {% if status.eol or status.dying %}
      <li>{{ do_support }} <span class="text-success">green</span> packages ({{ do_support_percent }}%) have dropped support for Python {{ major }};</li>
      <li>{{ no_support }} <span class="text-muted">white</span> packages ({{ no_support_percent }}%) still support Python {{ major }}.</li>
      {% else %}
      <li>{{ do_support }} <span class="text-success">green</span> packages ({{ do_support_percent }}%) support Python {{ major }};</li>
      <li>{{ no_support }} <span class="text-muted">white</span> packages ({{ no_support_percent }}%) don't explicitly support Python {{ major }} yet.</li>
      {% endif %}
    </ol>
    <h2>Package 'x' is white. What can I do?</h2>
      {% if status.eol or status.dying %}
      <p>There can be many reasons a package is still supporting Python {{ major }}:</p>
      <ul>
        <li>
          <p>If you are package maintainer, it's time to start dropping support (if you haven't already). <strong>Here is an in-depth guide to <a href="https://packaging.python.org/guides/dropping-older-python-versions/">Dropping support for older Python versions</a></strong>. If you are not able to give the time needed, please seek for help from the community.</p>
        </li>
        <li>
          <p>If you are user of the package, send a friendly note to the package maintainer. Or fork it, and send a pull request to help move the project towards dropping Python {{ major }} support.</p>
        </li>
      </ul>
      {% else %}
      <p>There can be many reasons a package is not explicitly supporting Python {{ major }}:</p>
      <ul>
        <li>
          <p>If you are package maintainer, it's time to start supporting Python {{ major }}. If you are not able to give the time needed, please seek for help from the community.</p>
        </li>
        <li>
          <p>If you are user of the package, send a friendly note to the package maintainer. Or fork it, and send a pull request to help move the project towards Python {{ major }} support, by adding the classifier and ensuring the project is tested against Python {{ major }}.</p>
        </li>
      </ul>
      {% endif %}
    <h2>How do you identify Python {{ major }} support?</h2>
    <p>
      We look for the <code>Programming Language :: Python :: {{ major }}</code> classifier on the latest release of the project, via <a href="https://warehouse.readthedocs.io/api-reference/json/">PyPI's JSON API</a>.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-sm-4 col-md-4">
    <a id="show-hide" data-state="Hide" class="btn btn-default btn-first-child btn-last-child" onclick="toggle(this)">
      {% if status.eol or status.dying %}
      Hide Python {{ major }} unsupported
      {% else %}
      Hide Python {{ major }} compatible
      {% endif %}
    </a>
  </div>
</div>

<div class="row">
  {% for column in results|slice(3) %}
  <div class="col-sm-4 col-md-4">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title text-center">
          {% if loop.first %}
          <span class="glyphicon glyphicon-list"></span> Top {{ column|length }}
          {% else %}
          <span class="glyphicon glyphicon-list"></span> Top {{ column|length * (loop.index - 1) }} - {{ column|length * loop.index }}
          {% endif %}
        </h3>
      </div>
    </div>
    <div class="list">
    {% for name, supports in column %}
      <a class="btn btn-{{ "success" if supports else "default" }} {{ "btn-first-child" if loop.first }} {{ "btn-last-child" if loop.last}}" href="https://pypi.org/project/{{ name }}" style="display: inline-block;">
        {{ name }} {{ "✓" if supports else "✗"}}
      </a>
    {% endfor %}
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
